.containerForModal {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal {
  background: var(--font-white-color);
  width: 100%;
  max-width: 900px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 12px;
}

.closeBtnModal {
  width: 2rem;
  height: 2rem;
  border: none;
  background: rgba(255, 0, 0, 0.7);
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.closeBtnModal:hover {
  background: rgba(255, 0, 0, 1);
}

.modalHeader h3 {
  margin-bottom: 1rem;
}

.modalInfo {
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.techSection span {
  font-weight: bold;
}

.techSection ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0;
  margin-top: 0.5rem;
}

.techSection ul li {
  background: rgb(186, 178, 178);
  border-radius: 25px;
  padding: 0.5rem;
}

.featureTitle {
  position: relative;
  padding-left: 1.2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.featureTitle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.55em;
  width: 6px;
  height: 6px;
  background: black;
  border-radius: 50%;
}

.modalImagesContainer {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.modalImagesContainer span {
  font-weight: bold;

}

.modalImage{
  width: 100%;
  max-height: 400px;
  padding: 1rem;
  border-top:  1px solid black;

}

.modalImagesContainer img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
}

.modalFooter {
  background: var(--font-white-color);
  display: flex;
  padding: 1rem;
  gap: 1rem;
  position: sticky;
  bottom: 0;
}

.modalFooter a {
  padding: 0.6rem 1.2rem;
  background: black;
  color: white;
  border-radius: 6px;
  font-size: 0.9rem;
  text-align: center;
}


@media (min-width: 768px) {
.featureTitle {
  font-size: 1rem;

}
}