.container {
  min-height: auto;
  padding: 4rem 2rem;
      background: var(--background);

}

.container > h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.infoCard {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  
}


.infoCard h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.infoCard p {
  color: #555;
  margin-bottom: 1.5rem;
}

.infoList {
  display: grid;
  gap: 0.6rem;
}

.infoList a {
  color: var(--primary-color);
  font-weight: 600;
}

.formCard {
  display: flex;
  justify-content: center;
}

.form {
  background: #ffffff;
  padding: 3rem 2rem;
  border-radius: 16px;
  width: min(320px, 100%);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 15px 30px;
}

.formTitle {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  text-align: center;
}

.formInputs {
  display: grid;
  gap: 1.6rem;
}

.formLabel {
  position: relative;
}

.formInput {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #d7d0d0;
  padding: 0.8em 1.2em;
  font-size: 0.95rem;
  outline: none;
}

.formInput:focus {
  border-color: var(--primary-color);
}

.formText {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 0 0.4rem;
  font-size: 0.95rem;
  color: #777;
  pointer-events: none;
  transition: all 0.25s ease;
}

.formInput:focus + .formText,
.formInput:not(:placeholder-shown) + .formText {
  top: 0;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: var(--primary-color);
}

.formSubmit {
  margin-top: 2rem;
  padding: 0.9rem 2rem;
  border-radius: 12px;
    background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formSubmit:hover {
    background-color: var(--white-color);
  color: var(--primary-color);

  border: 1px solid var(--primary-color);
}


@media (min-width: 768px) {


  
  .formCard {
    flex: 1;
  }

  .infoCard{
    gap: 1rem;
  }

  .form {
 
  width: min(500px, 100%);

}
}

@media (min-width: 1000px) {
    .content {
    flex-direction: row;
  }


  .container {
    padding: 5rem 8rem;
  }
}
