:root {

  --primary-color: #5252e4;
  --primary-dark-color: #3b3bc1;

  --primary-rgb-color: 82, 82, 228;
  --primary-dark-rgb-color: 59, 59, 193;

  --font-white-color: #ffffff;
  --font-black-color: #171717;

  --background: #ffffff;
  --foreground: #171717;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
}

ul,ol{
  list-style: none;
}

a, p, span, label, select, option{
  text-decoration: none;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input{
  font: inherit;
}

h1, h2, h3, h4, h5, h6{
  letter-spacing: 1.5px;
}


img{
  width: 100%;
  height: 100%;
  display: block;
}

button {
  all: unset;
  cursor: pointer;
}

input, select{
  border: none;
}

input::placeholder{
  color: #888;
}

select option[disabled] {
  color: #888;
}
