
.appLayout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

@media (min-width: 550px) {
  .appLayout {
    flex-direction: row;
  }

  .appContent {
    flex: 1;
    min-height: 100vh;
  }
}

