.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container>h2 {
    padding: 2rem 1rem 1rem 2rem;
    color: var(--font-black-color);
    font-size: 1.5rem;
}

.cardContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 350px));
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}


.card {
    width: 100%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardImage {
    align-self: center;
    width: 300px;
    height: 150px;
    object-fit: contain;
}

.cardImage img {
    width: 100%;
    height: 100%;

}

.cardBody {
    display: flex;
    flex-direction: column;
    /* Para que tome el resto de espacio sobrante */
    flex-grow: 1;
}

.cardBody p {
    width: 100%;
    overflow: hidden;
    overflow: ellipsis;
}


.cardBtn {

    text-align: center;
}

.cardBtn a {
    color: var(--primary-color);
    font-weight: bolder;
}

.cardBtn a:hover {
    text-decoration: underline solid var(--primary-color);
}


@media(min-width: 768px) {

    .card {
        height: 400px;

    }

    .cardImage {
        width: 100%;

    }
}